[submodule "lib/sptl"]
	path = lib/sptl
	url = https://github.com/deepsea-inria/sptl
[submodule "lib/cmdline"]
	path = lib/cmdline
	url = https://github.com/deepsea-inria/cmdline
[submodule "lib/chunkedseq"]
	path = lib/chunkedseq
	url = https://github.com/deepsea-inria/chunkedseq
